html,
body {
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row {
  display: flex;
  flex: 1;
}

.columnElement {
  flex: 1;
  /* border: 0.5px solid black; */
}
